* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

canvas {
    z-index: -1;
    display: block;
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

#menu {
    display:block;
    width: 170px;
    margin: 0 auto;
}