* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    height: 200px;
}

canvas {
    z-index: -1;
    display: block;
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

#menu {
    margin-top: 20px;
    display:block;
    width: 300px;
    margin: 0 auto;
}

label {
    color: white;
}

input {
    width: 120px;
}