@font-face {
  font-family: space;
  src: url(fonts/SPACE.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::selection { 
    color: none;
    background: none; }

html, body {
    margin: 0;
    padding: 0;
}

main {
    height: 200px;
}

canvas {
    z-index: -1;
    display: block;
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

button {
    padding: 2px;
}

#menu {
    background-color: rgba(38, 38, 102, 0.589);
    border-radius: 10px;
    padding: 10px;
    display:block;
    width: 300px;
    margin: 0 auto;
}

label {
    color: white;
}

input {
    width: 120px;
}

/* from https://codepen.io/markmead/pen/rNOqRNw */
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
    -webkit-animation-name: wave;
          animation-name: wave;
    -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
    font-family: space, cursive;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.text:nth-of-type(1) {
    -webkit-animation-duration: 2s;
          animation-duration: 2s;
    -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.text:nth-of-type(2) {
    -webkit-animation-duration: 2s;
          animation-duration: 2s;
    -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.text:nth-of-type(3) {
    -webkit-animation-duration: 2s;
          animation-duration: 2s;
    -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

.text:nth-of-type(4) {
    -webkit-animation-duration: 2s;
          animation-duration: 2s;
    -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

@-webkit-keyframes wave {
    40%, 50% {
        transform: translate(-50%, -65%) scale(1.05);
    }
    0%, 90%, 100% {
        transform: translate(-50%, -45%) scale(0.95);
    }
}

@keyframes wave {
    40%, 50% {
        transform: translate(-50%, -65%) scale(1.05);
    }
    0%, 90%, 100% {
        transform: translate(-50%, -45%) scale(0.95);
    }
}